*{
  /* overflow-y: hidden; */
}
.indicator {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 1px #666 solid;
  margin: 0;
}

.indicator.active {
  color: #fff;
  background-color: blue;
}
.containerImage {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url(./images/Home_bg-gaCczFDJ.jpg);
  
}

/* CardSlider.css */

/* CardSlider.css */

.card-slider {
  width: 100%;
  overflow: hidden;
}

.card {
  /* background-color: #fff; */
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 260px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 90%; /* Ensure the card doesn't exceed the width of the container */
};
